AWS_ACCESS_KEY=
AWS_SECRET_KEY=
S3_ENDPOINT=
REGION=
BUCKET_NAME=

DATABASE_URL=
TEXT_VECTOR_DATABASE_URL=

OLLAMA_API_ENDPOINT=

# URL for the healthcheck ping (sent every 5 minutes)
HEALTHCHECK_URL=